<div id="messages" class="messages">
  <span class="<%= message.user.id == 1? "moderator":"username" %>"><b><%= message.user.username.presence || message.user.name %>: </b></span>
  <span class="usermessage"><%= message.body %></span><br>
</div>


