  <li><h4><%= link_to "#{chat_room.title}", chat_room_path(chat_room) %> - <%= chat_room.description.presence || "no description" %> |  <%= chat_room.questions.count %> questions (<%= chat_room.messages.count %>)</h4> 

  </li>

