<h1>(<%= current_user.username.presence || current_user.name %>)$~> enter a game...</h1>
<hr>
<!-- commented code below shows a button to create a new room -->
<!-- <p class="lead"><%= link_to 'New chat room', new_chat_room_path, class: 'btn btn-primary' %></p> -->

<div class="row">
  <%= render @chat_rooms %>
</div>