<h1>-> enter a game...</h1>

<!-- commented code below shows a button to create a new room -->
<!-- <p class="lead"><%= link_to 'New chat room', new_chat_room_path, class: 'btn btn-primary' %></p> -->

<ul>
  <%= render @chat_rooms %>
</ul>