<!-- Validation failure messages -->
<% if @question.present? %>
  <% if @question.errors.any? %>
    <% @question.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new question
</h1>

<hr>

<h4>Framework & Guidelines for Question Submissions</h4>
<ul>
  <li>Only submit questions with a clear, short, and objective answer.  Fill in the 'answer explanation' with fun & insightful information.</li>
  <li>Submit something that you would find meaningful to know and answer yourself. Try a question you don't know the answer to already!</li>
  <li>User proper spelling, letter-casing, & grammar.  Make sure there are no typos!</li>
  <li>Have fun with it! What are you passionate about? Make your own curriculum and share it with the community.</li>
</ul>

<hr>

<form action="/create_question" method="post">
  <!-- Label for question subject -->
  <div class="form-group">
    <label for="chat_room_id">
      Question Subject
    </label>

    <%= select_tag("chat_room_id", options_from_collection_for_select(ChatRoom.all, :id, :title), :class => "form-control") %>
  </div>
  
  <a href="/chat_rooms/new">or add a new subject first</a>
  <br>
  <br>

  <!-- Label and input for question -->
  <div class="form-group">
    <label for="question">
      Question
    </label>

    <textarea rows="5" id="question" name="question" class="form-control" placeholder="Name the largest freshwater lake in the world?"></textarea>
  </div>

  <!-- Label and input for answer -->
  <div class="form-group">
    <label for="answer">
      Answer
    </label>

    <textarea rows="1" id="answer" name="answer" class="form-control" placeholder="Lake Superior"></textarea>
  </div>

  <!-- Label and input for answer_explanation -->
  <div class="form-group">
    <label for="answer_explanation">
      Answer explanation (optional)
    </label>

    <textarea rows="5" id="answer_explanation" name="answer_explanation" class="form-control" placeholder="Answer explanation: Lake Superior is 31,700 square miles (82,100 square kilometres), or roughly the size of Maine, and holds 10 percent of the world's surface fresh water."></textarea>
  </div>

  <!-- Label and input for user_id -->
  <div class="form-group">
    <input type="hidden" name="user_id" value="<%= current_user.id %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create question
  </button>
</form>

<hr>

<a href="/">
  Go back
</a>
