.navbar-nav .nav-item span {
  display: block;
  padding-bottom: 0.425rem;
  padding-top: 0.425rem;
}

h1 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

footer {
  margin-top: 50px;
}

body {
  font-family: 'Space Mono', monospace;
}

.chat {
  position: relative;
  bottom: -5px;
  left: 0;
  // resize: none;

  z-index: 99;
  background: #fafafa;
  border: none;
  outline: none;
  color: #666;
  font-weight: 400;
  outline: none;
  box-shadow:none !important;

}

.usermessage {
  color: #5C6268;
}

.username {
  color: #750002;
}

.moderator {
  color: #1B1B1C;
}

#messages {
  height: 650px;
  overflow-y: hidden;
}

#messages:hover { 
  overflow: auto; 
}

/**  scrollbar 3 */
#messages::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
}

#messages::-webkit-scrollbar {
	width: 6px;
	background-color: #F5F5F5;
}

#messages::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ff9a9e), color-stop(99%, #fecfef), to(#fecfef));
  background-image: -webkit-linear-gradient(bottom, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
  background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%)

}

//change link colors
li a:link {
    color: #750002;
}

li a:visited {
    color: #750002;
}

li a:hover {
    color: #A62E4B;
}

li a:active {
    color: #750002;
}

li a {
    color: #750002;
}